@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis-Bold.ttf);
    font-weight: 700;
}


@font-face {
    font-family: 'DancingScript';
    src: url(../fonts/DancingScript-SemiBold.ttf);
    font-weight: 600;
}